
*.png
!readme_image.png
config.yaml
output/
data_full/
data_limited/
datasets/
datasets_symlink
camera_images/
labelled_images/
object_templates/
context_action_framework/

__pycache__/
.vscode/
.catkin_tools/
.idea/
